html {
    min-width: 565px;
    background: url(./img/whitediamond.png);
    font-size: 0.75rem;
}
body {
    background: rgba(0,0,0,0) !important;
    padding: 75px;
}
header {
    position: absolute;
    line-height:0;
    text-align: center;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
header p {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1rem;
    font-size: 2rem;
    padding-left: 1rem;
}
.centered {
    margin: 0px auto;
    float: none;
}
.form-heading {
    font-size: 1.3em;
    font-weight: 500;
}
.form-group {
    width: 100%;
}
input[type="radio"] {
    position: fixed;
    opacity: 0;
}
label img {
    
}
input[type="radio"]:checked+label {
    color: white;
    background: #88ce98; 
}
input[name="check-topology"]:checked+label {
    color: #88ce98;
}
#save-as a {
    background: #88ce98; 
}
div .active {
    background: #88ce98 !important;
}

#footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.upStuff {
    display: none !important;
}
#load-data-msg {
    width: 100%;
    background: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    z-index: 200;
}
#load-data-msg small {
    font-size: 1rem;
    padding: 0.5rem;
}
#map {
    width: 100%;
    height: 80vh;
    margin: 0 auto 15px auto;
}
.leaflet-control-layers-selector {
    position: relative !important;
    margin-left: 0 !important;
}
@media (min-width: 768px) and (max-width: 1199px) {
}
@media (max-width: 1199px) {
    #map {
        height: 46vh;
    }
}